{% extends 'employer-base.html' %}

{% block content %}

{% if object %}
  <h1>Edit <span style="color: #0E2344">{{ object.description }}</span></h1>
{% else %}
  <h1>Add Job</h1>
{% endif %}

<style>
.btn {
  background-color: #38b6ff;
  color: #fff;
  border: none;
  margin-top: 25px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #78c2ff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>

<form method="post">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit" class="btn">
</form>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  const selectEl = document.getElementById('id_status');
  M.FormSelect.init(selectEl);
</script>

{% endblock %}