{% extends 'base.html' %} {% block content %}
<div class="about-wrapper">
  <h1 class="homeh2">About the Developers</h1>
  <hr />
  <br />
  <div class="dev-container">
    <div class="dev-section">
      <div class="img-container img-hover">
        <img class="devpic" src="https://i.imgur.com/U0sI61k.png" alt="Sandy" />
      </div>
      <p>
        Hi! I'm Sandy McGee, a fullstack software engineer with expertise in
        creating efficient, user-friendly applications. My goal is to build
        purposeful software solutions for a brighter future.
      </p>
      <p>sandyasomcgee@gmail.com</p>
      <a href="mailto:sandyasomcgee@gmail.com" class="styled-link">Email</a>
      <br />
      <a
        href="https://www.linkedin.com/in/sandymcgee-memphis/"
        target="_blank"
        class="styled-link"
        >LinkedIn</a
      >
    </div>

    <div class="dev-section">
      <div class="img-container img-hover">
        <img class="devpic" src="https://i.imgur.com/zNWyPMB.png" alt="Sarah" />
      </div>
      <p>
        Hi! I'm Sarah Ganz, a fullstack software engineer dedicated to crafting
        seamless and innovative applications. My passion lies in designing
        impactful software solutions for a better tomorrow.
      </p>
      <p>sarahganzdev@gmail.com</p>
      <a href="mailto:sarahganzdev@gmail.com" class="styled-link">Email</a>
      <br />
      <a
        href="https://www.linkedin.com/in/sarah-ganz-software-engineer"
        target="_blank"
        class="styled-link"
        >LinkedIn</a
      >
    </div>

    <div class="dev-section">
      <div class="img-container img-hover">
        <img
          class="devpic"
          src="https://i.imgur.com/oHTDyxH.jpg"
          alt="Austin"
        />
      </div>
      <p>Hi! I'm Austin Lew, a fullstack software engineer driven by a relentless desire to innovate and create impactful solutions. My dedication to crafting elegant code and embracing cutting-edge technologies fuels my mission to revolutionize the digital world.</p>
      <p>austinlew1215@gmail.com</p>
      <a href="mailto:austinlew1215@gmail.com" class="styled-link">Email</a>
      <br />
      <a
        href="https://www.linkedin.com/in/austin-lew-software-engineer/"
        target="_blank"
        class="styled-link"
        >LinkedIn</a
      >
    </div>
  </div>
</div>
<script>
  const elements = document.querySelectorAll(".dev-section");

  function isInViewport(element) {
    const rect = element.getBoundingClientRect();
    return rect.top < window.innerHeight && rect.bottom >= 0;
  }

  function animateElements() {
    elements.forEach((element) => {
      if (isInViewport(element)) {
        element.classList.add("animate");
      }
    });
  }

  window.addEventListener("scroll", animateElements);
  animateElements();
</script>
{% endblock %}
