{% extends 'base.html' %}

{% block content %}


    <h1>About the Developers</h1>
    <hr>
<div style="display:flex; align-items: baseline; font-size: 2rem; justify-content: center;" >
 <div style="margin-right: 4rem;">
    <h4>
        Hi! I'm Sandy McGee, a fullstack software engineer with expertise in creating efficient, user-friendly applications. 
        My goal is to  build purposeful software solutions for a brighter future.
    </h4>
      <h3>Contact Me</h3>
      <p>sandyasomcgee@gmail.com</p>
      <p><a href="https://www.linkedin.com/in/sandymcgee-memphis/">LinkedIn</a></p>
</div>

<div style="margin-right: 4rem; margin-left: 4rem;">
     <h4>
        Hi! I'm Sarah Granz, a fullstack software engineer.
     </h4>
       <h3>Contact Me</h3>
       <p>strolisarah@gmail.com</p>
       <p><a href="https://www.linkedin.com/in/sarah-ganz-software-engineer">LinkedIn</a></p>
</div>
   
<div style="margin-left: 4rem;">
     <h4>
        Hi! I'm Austin Lew, a fullstack software engineer.
    </h4>
       <h3>Contact Me</h3>
       <p>austinlew1215@gmail.com</p>
       <p><a href="https://www.linkedin.com/in/austin-lew-software-engineer/">LinkedIn</a></p>
 </div>
</div>
   

{% endblock %}