{% extends 'base.html' %}

{% block content %}
<style>
body {
  background-image: url('https://i.imgur.com/4HQeNKv.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
</style>
<div class="about-wrapper"><h1>About the Developers</h1>
    <hr>
<div class="about-container"  >
 <div id="devs" style="margin-right: 4rem;">
   <div class="img-container"> <img class="devpic" src="https://i.imgur.com/U0sI61k.png" alt="Sandy"> </div>
    <h4>
        Hi! I'm Sandy McGee, a fullstack software engineer with expertise in creating efficient, user-friendly applications. 
        My goal is to  build purposeful software solutions for a brighter future.
    </h4>
      <h3>Contact Me</h3>
      <p>sandyasomcgee@gmail.com</p>
      <p><a href="https://www.linkedin.com/in/sandymcgee-memphis/">LinkedIn</a></p>
</div>

<div id="devs" style="margin-right: 4rem; margin-left: 4rem;">
  <div class="img-container"> <img class="devpic" src="https://i.imgur.com/zNWyPMB.png" alt="Sarah"> </div>
     <h4>
        Hi! I'm Sarah Granz, a fullstack software engineer.
     </h4>
       <h3>Contact Me</h3>
       <p>strolisarah@gmail.com</p>
       <p><a href="https://www.linkedin.com/in/sarah-ganz-software-engineer">LinkedIn</a></p>
</div>
   
<div id="devs" style="margin-left: 4rem;">
    <img class="devpic" src="https://i.imgur.com/oHTDyxH.jpg" alt="Austin">
     <h4>
        Hi! I'm Austin Lew, a fullstack software engineer.
    </h4>
       <h3>Contact Me</h3>
       <p>austinlew1215@gmail.com</p>
       <p><a href="https://www.linkedin.com/in/austin-lew-software-engineer/">LinkedIn</a></p>
 </div>
</div>
   </div>

{% endblock %}