{% extends 'employer-base.html' %} {% block content %}
<h1>{{ job.description }} <br>Assign Employees</span></h1>
<div class="row">
  <div class="col s6">
    <h2>Available Employees</h2>
    {% for employee in available_employees %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ employee.user.get_full_name }}</span>
        <div class="cardalign">
        <p>Skill(s): {{ employee.skills }}</p>
        <p>Hourly Rate: ${{ employee.hourly_rate }}</p>
      </div>
        <form class="nocolor" id ="nomarg" method="post">
          {% csrf_token %}
          <input type="hidden" name="employee_id" value="{{ employee.id }}" />
          <button type="submit" name="action" value="assign" class="btn">
            Add
          </button>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col s6">
    <h2>Assigned Employees</h2>
    {% for employee in assigned_employees %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
    {{ employee.employee.user.get_full_name }}</span>
    <div class="cardalign">
        <p>Skill(s): {{ employee.employee.skills }}</p>
        <p>Hourly Rate: ${{ employee.employee.hourly_rate }}</p>
        </div>
        <form class="nocolor" id="nomarg" method="post">
          {% csrf_token %}
          <input
            type="hidden"
            name="employee_id"
            value="{{ employee.employee.id }}"
          />
          <button type="submit" name="action" value="remove" class="btn">
            Remove
          </button>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
