{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>JobJog</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans:wght@300&family=Sora:wght@200;300;400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <ul>
            <li>
              <a href="{% url 'home' %}" class="left brand-logo"
                >&nbsp;&nbsp;
                <img
                  src="https://i.imgur.com/pMrDqc1.png"
                  style="width: 120px; object-fit: contain"
                />
              </a>
            </li>
          </ul>
          <ul class="right">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li class="logstyle">
              <a href="{% url 'employer_login' %}" class="logstyle"
                >Employer Login</a
              >
            </li>
            <li>
              <a href="{% url 'login' %}" class="logstyle">Employee Login</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer" class="logstyle">
      <div class="right, logstyle">
        All Rights Reserved, &copy; 2023 JobJog &nbsp;
      </div>
    </footer>
  </body>
</html>
