{% extends 'employee-base.html' %} {% block content %}
<br><br>
<div class="dashboard-container">
  <div class="dashboard-header">
    <h1>Welcome, {{ employee.user.first_name }} {{ employee.user.last_name }}!</h1>
  </div>
  <div class="user-info">
    <p>Employed at: {{ employee.employer.company_name }}</p>
    <p>Email: {{ employee.user.email }}</p>
    <p>Phone: {{ employee.user.phone_number }}</p>
  </div>
</div>

<h2>Assigned Jobs:</h2>

{% for assignment in employee.employeeassignment_set.all %}
<a href="{% url 'job_details' assignment.job.id %}">
<div class="card">
  <div class="card-content">
      <h3>Job: {{ assignment.job.description }}</h3>
    </a>
    <p>Address: {{ assignment.job.address }}</p>
    <p>Date: {{ assignment.job.date }}</p>
    <p>Time: {{ assignment.job.time }}</p>
  </div>
</div>
</a>
{% endfor %} {% endblock %}
