{% extends 'employer-base.html' %} {% block content %}

<h1>Employee List</h1>

{% for employee in employees %}
<div class="card">
  <a href="{% url 'detail_employee' employee.id %}">
    <div class="card-content">
      <span class="card-title"
        ><h3>
          {{ employee.user.first_name }} {{ employee.user.last_name }}
        </h3></span
      >
      <p>Email: {{ employee.user.email }}</p>
      <p>Phone Number: {{ employee.user.phone_number }}</p>
      <p>Skill(s): {{ employee.skills }}</p>
      <p>Hourly Rate: ${{ employee.hourly_rate }}</p>
    </div>
  </a>
</div>
{% endfor %}
<br />{% endblock %}
