{% extends 'employee-base.html' %} {% block content %}
<br />
<h1>Welcome, {{ employee.user.first_name }} {{ employee.user.last_name }}!</h1>
<div class="dashboard-container">
  <h3>Employed at: {{ employee.employer.company_name }}</h3>
  <div class="cardalign" id="nopad">
  <p>Email: {{ employee.user.email }}</p>
  <p>Phone: {{ employee.user.phone_number }}</p>
</div>
</div>
<br /><br />
<h2>ASSIGNED JOBS</h2>

{% for assignment in employee.employeeassignment_set.all %}
<a href="{% url 'job_details' assignment.job.id %}">
  <div class="cardmarg">
  <div class="card">
    <div class="card-content">
      <span class="card-title"
        ><h3 class="lightblue">{{ assignment.job.description }}</h3></span
      >
      <div class="cardalign">
      <p>Address: {{ assignment.job.address }}</p>
      <p>Date: {{ assignment.job.date }}</p>
      <p>Time: {{ assignment.job.time }}</p>
      <p>Status: {{ assignment.job.status }}</p>

    </div>
  </div>
  </div>
</div>
</a>

{% endfor %} {% endblock %}
