{% extends 'employer-base.html' %} {% block content %}
<h1>Employee Details</h1>
<div class="card">
  <div class="card-content">
    <span class="card-title"
      ><h3>
        {{ employee.user.first_name }} {{ employee.user.last_name }}
      </h3></span
    >
    <div class="cardalign">
    <p>Email: {{ employee.user.email }}</p>
    <p>Phone Number: {{ employee.user.phone_number }}</p>
    <p>Skills: {{ employee.skills }}</p>
    <p>Hourly Rate: {{ employee.hourly_rate }}</p>
    </div>
    <a href="{% url 'employees_update' employee.id %}" class="btn">Edit</a>
    <a href="{% url 'employees_delete' employee.id %}" class="btn">Delete</a>
  </div>
  <div class="card-action">
    <a href="{% url 'employee_assignments' employee.id %}" class="btn">View Employee Timecards</a>
  </div>
</div>
<br />
{% endblock %}
