{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>JobJog</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Arimo:wght@500&family=Bebas+Neue&family=Comfortaa&family=Concert+One&family=Manrope:wght@500&family=Monofett&family=Oxygen&family=Permanent+Marker&family=Poller+One&family=Rubik+Bubbles&family=Russo+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <ul>
            <li>
              <a href="{% url 'employer_dashboard' %}" class="left brand-logo"
                >&nbsp;&nbsp;
                <img
                  src="https://i.imgur.com/pMrDqc1.png"
                  style="width: 120px; object-fit: contain"
                />
              </a>
            </li>
          </ul>
          <ul class="right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'jobs_create' %}">Add a Job</a></li>
            <li><a href="{% url 'index' %}">All Jobs</a></li>
            <li><a href="{% url 'invite_employee' %}">Invite Employee</a></li>
            <li><a href="{% url 'employees_index' %}">All Employees</a></li>
            <li><a href="{% url 'logout' %}" class="logstyle">Log Out</a></li>
            {% else %}
            <a href="{% url 'employer_login' %}" class="logstyle"
              >Employer Login</a
            >
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer">
      <div class="right, logstyle">
        All Rights Reserved, &copy; 2023 JobJog &nbsp;
      </div>
    </footer>
  </body>
</html>
