{% extends 'employer-base.html' %} {% block content %}
<h1>Employee Details</h1>
<p>First Name: {{ employee.user.first_name }}</p>
<p>Last Name: {{ employee.user.last_name }}</p>
<p>Email: {{ employee.user.email }}</p>
<p>Phone Number: {{ employee.user.phone_number }}</p>
<p>Skills: {{ employee.skills }}</p>
<p>Hourly Rate: {{ employee.hourly_rate }}</p>

<div class="card-action">
  <a href="{% url 'employees_update' employee.id %}">Edit</a>
  |
  <a href="{% url 'employees_delete' employee.id %}">Delete</a>
</div>
<br><br>
<a href="{% url 'employee_assignments' employee.id %}">View Employee Timecards</a>
{% endblock %}
