{% extends 'employer-base.html' %} {% block content %} <br />
<h1>Welcome, {{ employer.user.first_name }} {{ employer.user.last_name }}!</h1>
<div class="dashboard-container">
  <h3>Company: {{ employer.company_name }}</h3>
  <div class="cardalign" id="nopad">
  <p>Email: {{ employer.user.email }}</p>
  <p>Phone: {{ employer.user.phone_number }}</p>
</div>
</div>
<br /><br />
<a href="{% url 'jobs_create' %}" class="btn">Add a Job</a>
<a href="{% url 'index' %}" class="btn">All Jobs</a>
<a href="{% url 'invite_employee' %}" class="btn">Invite Employee</a>
<a href="{% url 'employees_index' %}" class="btn">All Employees</a>

{% endblock %}
