{% extends 'base.html' %}
{% block content %}

<style>

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  text-align: center;
}

.logo {
  max-width: 40%;
}

h1 {
  color: #38B6FF;
}

.statement {
  font-size: 22px;
}

h2 {
  color: #DF5276;
  font-size: 30px;
}

p {
  margin-bottom: 20px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 20%;
  padding: 5px;
  position: relative;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


.image__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #ffffff;
	font-family: 'Quicksand', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.25s;
}

.image__overlay--blur {
	backdrop-filter: blur(5px);
}


.image__overlay>* {
	transform: translateY(20px);
	transition: transform 0.25s;
}

.image__overlay:hover {
	opacity: 1;
}

.image__overlay:hover>* {
	transform: translateY(0);
}

.image__title {
	font-size: 2em;
	font-weight: bold;
}

.image__description {
	font-size: 1.25em;
	margin-top: 0.25em;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
}

button:hover {
  box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.container_join {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.employer_registration,
.employee_login {
  flex-basis: 48%;
}


</style>

<a href="https://lh3.googleusercontent.com/pw/AIL4fc9YxQMWJxFc9YufBiFQIVX2S5m8aMSO_FHFHEyY-IVW4HfidaZUNWpAzB7wZOS4RCodMXJ1hCccxTzKpEQh0jV-ukXu_Lfx6nnsJV6MoLTsDgRsFUc=w2400?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/pw/AIL4fc9YxQMWJxFc9YufBiFQIVX2S5m8aMSO_FHFHEyY-IVW4HfidaZUNWpAzB7wZOS4RCodMXJ1hCccxTzKpEQh0jV-ukXu_Lfx6nnsJV6MoLTsDgRsFUc=w600-h315-p-k" class="logo"/> </a>
<p class="statement">
  JobJog is a user-friendly web application designed to streamline company operations by empowering employers to efficiently manage their employees' assignments and responsibilities. This comprehensive platform allows companies to easily add new employees, assign work duties, and track workforce performance seamlessly.
</p>

<h2>Key Features</h2>

<div class="row">
  <div class="column">
    <img src="https://lh3.googleusercontent.com/pw/AIL4fc_a008AncKay_7LT6vry-pLCZHt8OB6apV5s21XqdMc9XHMe_Fi9NWdTrq7S3xSWh2JY2slSrU9lXarvE0iJzNPZJG2fq35YXz4gwGZsz_6cnVi9BI=w2400" alt="employee" style="width:100%">
    <div class="image__overlay image__overlay--primary">
      <p class="image__description">
        The application provides a centralized employee database, where employers can add, view, and manage all employee details. This includes personal information, job roles, contact details, and work history
      </p>
    </div>  
  </div>
  <div class="column">
    <img src="https://lh3.googleusercontent.com/pw/AIL4fc_ZJiOo6IcNAaW8pzFnqR5WU2_0MK44HooOspiAMkGGhgzRAfxxNh2y8ureMU92pFw4y_8zPowY5vV4deQeRmNLI-O6X151-k3qGw1nEr-oQNPbEus=w2400" alt="user" style="width:100%">
    <div class="image__overlay image__overlay--primary">
      <p class="image__description">
        The system incorporates multi-level user roles and permissions to ensure that only authorized personnel can access and modify sensitive information
      </p>
    </div>   
  </div>
  <div class="column">
    <img src="https://lh3.googleusercontent.com/pw/AIL4fc9tDtBsw_aPLHe3vAjRKpVoZxQ4Q8h_uskkTln3XnkfJeqBrf_FQ5J8Jw33Fo45haLkWNE7zYRFajOy5vLYKZam293pSQLZaaJ-KFckpOdGaUYsCw4=w2400" alt="onboarding" style="width:100%">
    <div class="image__overlay image__overlay--primary">
      <p class="image__description">
        The application facilitates a smooth onboarding process for new employees
      </p>
    </div>
  </div>
  <div class="column">
    <img src="https://lh3.googleusercontent.com/pw/AIL4fc9_gAvcXjIFeE8UApnmAoFFO3dtUlA5Z0uO7VNp5NiEUXR8W-Pqd6ldFWkL5i3NRO1LSTv8ihsXNyoeCPPqfaSywzJgVazGyyFOYLVlxlgD7f_QWRs=w2400" alt="task" style="width:100%">
    <div class="image__overlay image__overlay--primary">
      <p class="image__description">
        Employers can create and assign work duties, tasks, and projects to specific employees. This feature ensures effective task distribution, allowing managers to prioritize assignments and track progress in real-time
      </p>
    </div>
  </div>
  <div class="column">
    <img src="https://lh3.googleusercontent.com/pw/AIL4fc9iChZYKhWYL1u3glY2ApOF6pQPwJRpwTVpfoiEIIxg49hX-3z2FPRl44G_368afLAoHst6ZeCzhcvLBVQze5sO3oYpF_G5lkguztP_vsKwOajPkHk=w2400" alt="security" style="width:100%">
    <div class="image__overlay image__overlay--primary">
      <p class="image__description">
        The application employs robust security measures to protect sensitive employee information and ensure data privacy compliance
      </p>
    </div>
  </div>
</div>


<div class="container_join">
  <div class="employer_registration">
    <h2>Employer Registration</h2>
    <form method="post" action="{% url 'employer_registration' %}">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Register</button>
    </form>
    
    <p>
      Already have an account? <a href="{% url 'employer_login' %}">Sign in</a>.
    </p>
  </div>
  
  <div class="employee_login">
    <h2>Employee Login</h2>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Sign In</button>
    </form>
  </div>
</div>

{% endblock %}
