* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  background-color: rgba(14, 35, 68, 0.1);
  font-family: "Josefin Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Sora", sans-serif;
}

main {
  flex: 1 0 auto;
}

nav {
  background-color: rgb(14, 35, 68);
}

.logo {
  max-width: 40%;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  color: rgb(14, 35, 68);
  font-family: "Sora", sans-serif;
  text-transform: capitalize;
}

h2 {
  font-family: "Sora", sans-serif;
  color: rgb(14, 35, 68);
  font-size: 30px;
  text-transform: capitalize;
}


.homeh2 {
  font-family: 'Oswald', sans-serif;
}

h3 {
  font-family: "Sora", sans-serif;
  color: rgb(48, 166, 254);
  font-size: 24px;
  text-transform: capitalize;
  text-align: center;
}

p {
  margin-top: 0; 
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;
  color: #000000;
}

.styled-link {
  color: rgb(224, 82, 119); 
  font-size: 16px; 
  text-decoration: none; 
}


.styled-link:hover {
  color: rgb(14, 35, 68); 
}

.statement {

  margin-top: -30px;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  
}

.form {
  background-color: rgba(207, 186, 191, 0.491);
  padding-top: 8vmin;
  padding-bottom: 8vmin;
  padding-left: 34vmin;
  padding-right: 34vmin;
  margin-bottom: 10vmin;
}

form {
  background-color: rgba(207, 186, 191, 0.491);
  border-radius: 15px;
  padding-top: 8vmin;
  padding-bottom: 8vmin;
  padding-left: 28vmin;
  padding-right: 28vmin;
  margin-bottom: 10vmin;
  
}
#nomarg {
  margin: auto;
  padding-left: 0;
  padding-right: 0;
  padding-bottom:0;
  padding-top:0;
}

.nocolor{
  background-color: transparent;
  margin-top: -10vmin;

}



.column {
  float: left;
  width: 20%;
  padding: 5px;
  position: relative;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(227, 228, 232);
  color: #000000;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;

}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  font-size: 2em;
  font-weight: bold;
}

.image__description {
  font-size: 1.1em;
  margin-top: 0.25em;
  margin-right: 0.35em;
  margin-left: 0.35em;
}

button,
.btn {
  background-color: rgb(224, 82, 119);
  color: #fff;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition:
    box-shadow 0.3s,
    background-color 0.3s;
  cursor: pointer;
  font-size: 16px;
  text-transform: none;
  font-family: "Sora", sans-serif;
}

.btn {
  padding-top: 10px;
  line-height: normal;
}


button:hover,
.btn:hover {
  background-color: rgba(224, 82, 119, 0.8); 
  box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.2);
}

.container_join {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.employer_registration,
.employee_login {
  flex-basis: 48%;
}

.employer_registration{
  margin: 0 auto;
  margin-top: -5vmin;
}
footer.page-footer {
  padding-top: 0;
  text-align: right;
  background-color: #0e2344;
}

.devpic {
  display: inline-block;
  padding: 0;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 12px;
  font-weight: lighter !important;
  text-align: center;
  white-space: nowrap;
  border-radius: 50px;
  position: relative;
  display: block;
  margin: auto;
  border: 1px solid rgba(224, 82, 119); 
}

.card-title {
  text-transform: capitalize;
  color: rgb(48, 166, 254);
}

.card-content {
  padding: 0px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
}

.card-content:hover {
  box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.errorlist {
  color: red;
}

p {
  font-size: 17px;
}

.dev-container {
  display: flex;
  justify-content: space-between;
  margin: 0 4rem;
}

.dev-section {
  width: 30%;
}

@media screen and (min-width: 320px) {
  body {
    font-size: 14px;
  }

  .dev-container {
    margin: 0 1rem;
    flex-direction: column;
  }

  .dev-section {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 480px) {
  .dev-container {
    margin: 0 2rem;
    flex-direction: column;
  }

  .dev-section {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }

  .dev-container {
    flex-direction: column;
  }

  .dev-section {
    width: 100%;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 15px;
  }
  .dev-container {
    flex-direction: row;

    .dev-section {
      width: 30%;
      margin-bottom: 0;
    }
  }
}

.logstyle {
  color: rgb(48, 166, 254);
}

.column {
  float: left;
  width: 20%;
  padding: 5px;
  position: relative;
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 1024px) {
  .column {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .column {
    width: 100%;
    margin: 0 auto;
  }
}


.dashboard-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color:rgba(207, 186, 191, 0.491);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#nopad {
  padding-left: 0;
}

.dashboard-header {
  text-align: center;
  margin-bottom: 20px;
}


.user-info {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.user-info h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.user-info p {
  font-size: 16px;
  margin-bottom: 5px;
}


@media screen and (max-width: 768px) {
  .dashboard-container {
    padding: 10px;
  }

  .user-info {
    padding: 10px;
  }
}

.dashboard-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(207, 186, 191, 0.491);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: center; 
}

.user-info {
  text-align: center;
  margin-bottom: 20px;
  background-color: rgba(14, 35, 68, 0);
}

.card {
  background-color:rgba(207, 186, 191, 0.491);
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.cardmarg{
  margin-left: 8vmin;
  margin-right: 8vmin
}
.cardalign {
text-align: left;
padding-left: 20vmin;
padding-bottom: 2vmin;
}
 

.lightblue {
  color: rgb(48, 166, 254);
}

.container_join {
  display: flex;
  justify-content: center;
  align-items: center;
}

.employee-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(207, 186, 191, 0.491);
  overflow: hidden; 
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  margin: 0;
  font-size: 1.5rem;
}

.card-content p {
  margin: 10px 0;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 769px) {
  .dropdown-icon {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #nav-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  #nav-menu.active {
    display: flex;
  }

  .dropdown-icon {
    display: block;
    text-align: center;
    cursor: pointer;
    color: rgb(48, 166, 254);
    font-size: 24px;
    margin-right: 20px; 
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dev-section {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.dev-section.animate {
  opacity: 1;
  transform: translateY(0);
}


.styled-link {
  color: #3498db;
  transition: color 0.3s ease;
}

.styled-link:hover {
  color: #2980b9;
}

.img-hover:hover {
  transform: scale(1.05); 
  transition: transform 0.3s ease;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
  animation-duration: 1.5s; 
  animation-timing-function: ease-in-out; 
}
