{% extends 'employer-base.html' %} {% block content %}

<h1>Job Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title"><h3>{{ job.description }}</h3></span>
    <p>Location: {{ job.address }}</p>
    <p>Date: {{ job.date|linebreaks }}</p>
    <p>Time: {{ job.time }}</p>
    <p>Status: {{ job.status }}</p>
    <a href="{% url 'jobs_update' job.id %}" class="btn">Edit</a>
    <a href="{% url 'jobs_delete' job.id %}" class="btn">Delete</a>
  </div>
  <div class="card-action">
    <a href="{% url 'assign_employee_to_job' job_id=job.id %}" class="btn">Assign Employees</a>
  </div>
</div>

<h2>Employees Assigned to This Job</h2>
{% if assigned_employees %} {% for employee in assigned_employees %}
<h4>{{ employee.user.get_full_name }}</h4>
<p>
  Skill(s): {{ employee.skills }} <br />Hourly Rate: ${{ employee.hourly_rate }}
</p>
{% endfor %} {% else %}
<p>No employees assigned to this job yet.</p>
{% endif %}

<h2>Photos Uploaded by Employees</h2>
<div>
  {% for photo in job.photo_set.all %}
  <div class="card-panel">
    <img class="responsive-img" src="{{ photo.url }}" />
    <p>Uploaded by: {{ photo.employee.user.get_full_name }}</p>
    <p>Uploaded at: {{ photo.created_at }}</p>
  </div>
  {% empty %}
  <p>No photos uploaded by employees for this job.</p>
  {% endfor %}
</div>
{% endblock %}
